<h1>
  Buscando: <small>{{ termino }}</small>
</h1>
<hr />

<div class="card-columns">
  <div
    *ngFor="let heroe of heroes; index as i"
    class="card animated fadeIn fast"
  >
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre" />
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio | slice: 0:130 }}...</p>
      <p class="card-text">
        <small class="text-muted">{{ heroe.aparicion }}</small>
      </p>

      <button class="btn btn-outline-primary btn-block">Ver más...</button>
    </div>
  </div>
</div>
<div
  *ngIf="heroes.length == 0"
  class="alert alert-info animated fadeIn text-center"
  role="alert"
>
  No hay resultados de búsqueda con el término: {{ termino }}
</div>
